In [69]:
x = 400
y = 40
if x > y:
    print(f"{x} é maior que {y}")
elif x == y:
    print(f"{x} é igual a {y}")
else:
    print(f"{x} é menor que {y}")

400 é maior que 40

In [79]:
tired = False

if tired:
    print("Im going to sleep")
else:
    print("Im okay")

Im okay

In [89]:
lang = "pt-br"
if lang == "en-us":
    print("Welcome")
elif lang == "pt-br":
    print("Bem vindo")
else:
    print("Error")

Bem vindo

#### FOR LOOPS

In [99]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [101]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [103]:
for num in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [107]:
for num in mylist:
    if num % 2 != 0:
        print(num)
    else:
        print(f"Odd value: {num}")

1
Odd value: 2
3
Odd value: 4
5
Odd value: 6
7
Odd value: 8
9
Odd value: 10

In [112]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num 
print(list_sum)

55

In [114]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num 
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [116]:
my_string = "Hello World"
for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

tup = (1,2,3)
for item in tup:
    print(item)

In [120]:
tup_list = [(1,2),(3,4),(5,6),(7,8)]

In [122]:
len(tup_list)

4

In [124]:
for i in tup_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

##### Tuple unpacking

In [144]:
for (a,b) in tup_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [146]:
d = {"k1":1,"k2":2,"k3":3}

for item in d:
    print(item)

k1
k2
k3

In [162]:
d = {"k1":1,"k2":2,"k3":3}
# d.items FAZ COM QUE OS PARES SE TORNEM PARES EM TUPLES
for key,value in d.items():
    print(value)

1
2
3

In [166]:
d = {"k1":1,"k2":2,"k3":3}

for x in d.values():
    print(x)

1
2
3

#### WHILE LOOPS

In [177]:
num = 0
while num <= 5:
    print(f"O número é {num}")
    num= num + 1
    # num += 1 Executa o mesmo comando
else:
    print("FIM")

O número é 0
O número é 1
O número é 2
O número é 3
O número é 4
O número é 5
FIM

##### BREAK, CONTINUE AND PASS

In [192]:
x = [1,2,3]

for item in x:
    pass
print("Final do código")

Final do código

In [194]:
mystring = "Gustavo"

In [202]:
for letter in mystring:
    if letter == "a":
        continue #<----retorna ao topo do LOOP
    print(letter)

G
u
s
t
v
o

In [204]:
for letter in mystring:
    if letter == "a":
        break #<----Quebra o lOOP no momento que a condição é atendida
    print(letter)

G
u
s
t

In [208]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

#### USEFUL OPERATORS

In [8]:
for num in range(3,10): #usa (start,stop,step)
    print(num)

3
4
5
6
7
8
9

In [87]:
list(range(0,19))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [16]:
index_count = 0

for letter in "qwerty":
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is q
At index 1 the letter is w
At index 2 the letter is e
At index 3 the letter is r
At index 4 the letter is t
At index 5 the letter is y

In [20]:
word = "qwerty"

for item in enumerate(word):
    print(item)

(0, 'q')
(1, 'w')
(2, 'e')
(3, 'r')
(4, 't')
(5, 'y')

In [24]:
word = "qwerty"

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
q


1
w


2
e


3
r


4
t


5
y

In [32]:
mylist1 = [1,2,3,4,5,6] #<---- ZIP vai ignorar o excedente, ou seja, 
mylist2 = ["a","b","c"] #<---- vai levar em conta apenas a menor lista
mylist3 = [100,200,300]

for x in zip(mylist1,mylist2,mylist3):
    print(x)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [40]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [42]:
1 in mylist1

True

In [44]:
1 in mylist2

False

In [78]:
dict = {"k1":1,"k2":2,"k3":3}

"k1" in dict.keys()

True

##### MAX, MIN E RANDOM

In [80]:
mylist1

[1, 2, 3, 4, 5, 6]

In [82]:
 min(mylist1)

1

In [86]:
max(mylist1)

6

In [89]:
from random import shuffle

In [95]:
shuffle(mylist1) #<---- IN PLACE FUNCTION

In [97]:
mylist1

[5, 4, 1, 2, 3, 6]

In [99]:
from random import randint

In [103]:
randint(0,100)

mynum = randint(0,100)

In [105]:
mynum

49

In [109]:
idade = input("Digite sua idade:")

Digite sua idade: 26

In [111]:
idade

'26'

In [113]:
 type(idade)

str

In [117]:
int(idade)

26

In [127]:
preco = float(input("Digite o valor do produto:"))

Digite o valor do produto: 29.99

In [131]:
preco

29.99

#### LIST COMPREHENSION

In [8]:
mystring = "Hello"

In [16]:
mylist = []
mylist1 = []

for let in mystring:
    mylist.append(let)

In [14]:
mylist

['H', 'e', 'l', 'l', 'o']

In [20]:
# EM PYTHON ISSO PODE SER FEITO EM APENAS UMA LINHA

mylist1 = [letter for letter in mystring]

print(mylist1)

['H', 'e', 'l', 'l', 'o']

In [28]:
 mylist = [num for num in range(0,11)]
 mylist1 = [num**2 for num in range(0,11)]

In [30]:
print(mylist)
print(mylist1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
#POSSIVEL COLOCAR OPERADOR CONDICIONAL

mylist = [num for num in range(0,11) if num%2 == 1]

print(mylist)

[1, 3, 5, 7, 9]

In [48]:
celcius = [0,10,20,34.5]
# CONVERSOR DE UMA LISTA DE ELEMENTOS DE CELSIUS PARA FAHRENHEIT
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [50]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [ ]:
# IF ELSE É FEITO DE FORMA INVERTIDA (COMO BOA PRÁTICA, NAO SE RECOMENDA FAZER ISSO

In [53]:
results = [ x if x%2 == 0 else "ODD" for x in range (0,11)]

In [55]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [83]:
# NESTED LOOP DENTRO DE LIST COMPREHENSION
# "NORMAL"
mylist = []

for x in [1,3,5]:
    for y in [100,300,500]:
        mylist.append(x*y)
# USANDO LIST COMPREHENSION
mylist1 = [x*y for x in [1,3,5] for y in [1,10,100]]

In [85]:
print(mylist)
print(mylist1)

[100, 300, 500, 300, 900, 1500, 500, 1500, 2500]
[1, 10, 100, 3, 30, 300, 5, 50, 500]